.DS_Store

# Editors
*.sublime-*
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
*-lock.*

# Dependency directories
node_modules

# Optional cache directory
.npm
.eslintcache

# Dist
build
dist
temp

# Dotenv environment variables file
.env
.vscode/settings.json
