{% extends "layout-default.njk" %}

{% block content %}
  <main class="o-main">
    <section class="container pb-3 pt-5 bg-white u-clip-inset-full u-box-shadow-inset-full-white">
      <div class="row row-cols-3">
        <div class="col">
          {%
            set cardData = {
              title: "Developing",
              text: "Landing pages or prototypes (npm run dev)."
            }
          %}
          {% include "components/card/card.njk" %}
        </div>

        <div class="col">
          {%
            set cardData = {
              title: "Exporting",
              text: "Carefully compiled and formatted files for collaboration."
            }
          %}
          {% include "components/card/card.njk" %}
        </div>

        <div class="col">
          {%
            set cardData = {
              title: "Building",
              text: "The final (production) bundle, ready for deployment."
            }
          %}
          {% include "components/card/card.njk" %}
        </div>
      </div>
    </section>

    {% if page.features %}
      <section class="features container py-3">
        {% set features = page.features %}
        {% include "components/features/features.njk" %}
      </section>
    {% endif %}

    <section class="container py-4">{{ page.content | safe }}</section>
  </main>
{% endblock %}
