{# Component: Hero #}
<section class="c-hero {% if heroModifier %}c-hero--{{ heroModifier }}{% endif %}">
  <div class="container">
    <div class="c-hero__inner">
      {% if heroTitle %}
      <h1 class="c-hero__title">{{ heroTitle | safe }}</h1>
      {% endif %}

      {% if heroExcerpt %}
      <div class="c-hero__excerpt">{{ heroExcerpt | safe }}</div>
      {% endif %}

      {% if heroContent %}
      <div class="c-hero__content">{{ heroContent | safe }}</div>
      {% endif %}
    </div>
  </div>
</section>
