@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  font-stretch: normal;
  src: url(../fonts/Outfit-normal-400.woff) format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  font-stretch: normal;
  src: url(../fonts/Outfit-normal-600.woff) format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  font-stretch: normal;
  src: url(../fonts/Outfit-normal-800.woff) format('woff');
  unicode-range: U+0-10FFFF;
}
