<nav class="o-header navbar navbar-expand-lg sticky-top" data-bs-theme="dark" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand" href="/"> {% include "logo-gulp.svg" %} &amp; {% include "logo-bootstrap.svg" %} </a>
    <span class="navbar-text me-auto">Gulp DevStack</span>

    <div class="navbar">
      <ul class="navbar-nav ms-auto flex-row">
        {% for item in site.menu %}
          <li class="nav-item">
            <a
              class="nav-link px-2{{ ' active' if page.pageId === item.pageId else '' }}"
              href="{{ item.url }}"
              {% if page.pageId === item.pageId %}aria-current="page"{% endif %}
              >{{ item.name }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
