{% macro hero(title="", description="", content="", modifier="", class="", badge="", containerClass="container") %}
  <section class="c-hero {{ class }} {% if modifier %}c-hero--{{ modifier }}{% endif %}" aria-label="Hero">
    <div class="{{ containerClass }} c-hero__inner">
      {% if badge %}
        <div class="c-hero__badge badge rounded-pill px-3 py-2 fw-medium mb-3"> {{ badge | safe }} </div>
      {% endif %}

      {% if title %}
        <h1 class="c-hero__title">{{ title | safe }}</h1>
      {% endif %}

      {% if description %}
        <div class="c-hero__description text-center">{{ description | md | safe }}</div>
      {% endif %}

      {% if caller %}
        <div class="c-hero__content text-center"> {{ caller() }} </div>
      {% elif content %}
        <div class="c-hero__content text-center"> {{ content | mdInline | safe }} </div>
      {% endif %}
      <div class="c-hero__glow"></div>
    </div>
  </section>
{% endmacro %}
