{% extends "layouts/default.njk" %}

{% block content %}
  <section class="py-5">
    <div class="row">
      <div class="col-md-8">
        {{ page.content | safe }}
      </div>
      <div class="col-md-4">
        {% set cardTitle = "Informace o projektu" %}
        {% set cardIcon = "info-circle" %}
        {% set cardText %}
          <div class="mb-3">
            <strong>Verze:</strong> {{ site.version }}
          </div>
          <div class="mb-3">
            <strong>Autor:</strong> {{ site.author }}
          </div>
          <div class="mt-4">
            <a href="https://github.com/cebreus/gulp-devstack" class="btn btn-primary">GitHub</a>
          </div>
        {% endset %}

        {# Vložení komponenty s předanými proměnnými #}
        {% include "components/card/card.njk" %}
      </div>
    </div>
  </section>
{% endblock %}
