@use 'sass:map';
@use 'sass:color';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';

// @import './variables-dark';
// @import '../../node_modules/bootstrap/scss/maps';
// @import '../../node_modules/bootstrap/scss/mixins';
// @import '../../node_modules/bootstrap/scss/utilities';

// @import './bootstrap.scss';
// Component imports are handled automatically by the Gulp task
// @use './temp/assets/css/fonts';

// Component imports are handled automatically by the Gulp task
// We don't need explicit imports here anymore

// Bootstrap overrides
// --------------

:root {
  --deep-blue-bg: #0a1d39;
}

body {
  min-width: 320px;
}

// Remove void in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}
